@import "@USupport-components-library/styles";

.edit-provider {
  padding-bottom: $spacing_3_2;

  &__grid {
    place-items: center;
    padding-bottom: $spacing_3_6;
    padding-top: $spacing_3_0;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_4_0;
    }

    @media screen and (min-width: $screen-lg) {
      place-items: unset;
    }

    & .grid-item {
      justify-items: center;
    }

    &__phone-container {
      display: flex;
      align-items: center;
      margin-top: $spacing_2_4;

      &__phone-input {
        width: 19.5rem;

        @media screen and (min-width: $screen-lg) {
          width: 22rem;
        }
      }

      & .dropdown-with-label,
      & .dropdown {
        text-align: left;
        width: 14rem;
        margin-right: $spacing_0_8;
      }
      & .dropdown-content {
        width: 12.5rem;
      }
    }

    &__phone-error {
      margin: 0;
      padding-top: $spacing_0_8;
      width: 34.3rem;
      text-align: center;
    }

    & .input-container,
    & .textarea--container,
    &__sex-dropdown {
      margin-top: $spacing_2_4;
      text-align: left;
    }

    & .dropdown-group {
      margin-top: $spacing_2_4;
      width: 34.3rem;

      @media screen and (min-width: $screen_md) {
        width: 36.8rem;
      }
    }

    & .grid-item {
      > div:not(:first-child),
      > .input-group:not(:first-child) {
        margin-top: $spacing_2_4;
      }

      > div,
      > .input-group {
        width: 34.3rem;

        @media screen and (min-width: $screen_md) {
          width: 36.8rem;
        }
      }

      div .select-container,
      .select-container {
        margin-top: 0 !important;
      }
    }

    &__buttons-item {
      justify-self: center;
    }

    &__save-button {
      margin-top: $spacing_3_2;
    }

    &__discard-button {
      margin-top: $spacing_1_6;
    }
  }
}
