/* ContentManagement styles */
@import "@USupport-components-library/styles";

.page__content-management {
  & .tabs {
    justify-content: center;
    margin-top: $spacing_1_6;
  }

  &__tabs-container {
    margin-bottom: $spacing_1_6;
  }

  &__grid {
    padding-bottom: $spacing_3_2;
  }
}
