/* Providers styles */
@import "@USupport-components-library/styles";

.page__providers {
  &__button-container {
    margin-left: $spacing_1_6;
    display: flex;
    flex-direction: row;
    margin-top: $spacing_1_6;
    align-items: center;

    @media screen and (min-width: $screen_md) {
      margin-top: 0;
    }

    & .btn:first-of-type {
      margin-right: $spacing_1_2;
    }

    & .icon {
      margin-right: $spacing_0_8;
      cursor: pointer;
    }
  }
}
