@import "@USupport-components-library/styles";

.providers-free-slots {
  &__heading {
    margin-bottom: $spacing_0_8;
  }

  &__description-container {
    padding-bottom: $spacing_1_2;
    width: 100%;
    text-align: left;
  }

  &__date-inputs-container {
    display: flex;
    flex-direction: column;
    gap: $spacing_1_2;
    padding-bottom: $spacing_2_4;
    align-items: center;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
