@import "@USupport-components-library/styles";

.add-campaign {
  &__grid {
    place-items: center;
    padding-top: $spacing_3_6;
    padding-bottom: $spacing_5_0;

    & .input-container {
      margin-bottom: $spacing_2_4;
    }

    &__number-of-coupons {
      &__input.input-container {
        margin-bottom: 0.5rem;
      }

      &__info {
        text-align: left;
        margin-bottom: $spacing_2_4;
      }
    }

    &__toggle-container {
      align-items: center;
      display: flex;
      margin-top: $spacing_2_4;
      margin-bottom: $spacing_2_4;

      & .toggle {
        margin-right: $spacing_3_6;
      }
    }

    &__create-button {
      margin-bottom: $spacing_2_4;
    }
  }

  & .error-message {
    padding-bottom: $spacing_1_6;
  }
}
