@import "@USupport-components-library/styles";

.analytics {
  &__statistics-wrapper {
    position: relative;
  }

  &__loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1000;
    border-radius: $border_radius_3_2;

    & .loading {
      @media screen and (min-width: $screen_md) {
        margin-top: $spacing_10_0 !important;
      }
    }
  }
  &__refresh-button {
    margin-top: $spacing_4_4;
    margin-inline: auto;
  }

  &-content {
    margin-top: $spacing_2_4;
  }

  &__statistics-box {
    padding: $spacing_2_4;
    margin-bottom: $spacing_3_2;

    &__disclaimer {
      display: flex;
      align-items: center;
      margin-top: $spacing_1_6;
      & .icon {
        margin-right: $spacing_1_2;
      }
      & p {
        color: $color_red_eb5757 !important;
      }
    }
  }

  &__statistics-grid {
    margin-top: $spacing_3_2;
    padding-bottom: $spacing_2_4;
    // display: flex;
    // flex-direction: column;
    width: 100%;

    @media screen and (min-width: $screen_md) {
      // flex-direction: row;
      // flex-wrap: wrap;
      // justify-content: space-between;
    }
  }

  &__statistics-collapsible {
    width: 50%;
    flex: 1;
  }

  &__statistics-content {
    width: 100%;

    &__heading {
      padding-top: $spacing_1_6;
    }

    &__type {
      border-bottom: 1px solid $color_gray_ea;
      padding-bottom: $spacing_1_6;
      padding-top: $spacing_1_6;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;

      &__item {
        @media screen and (min-width: $screen_lg) {
          width: 20%;
        }

        &__text {
          white-space: nowrap;
        }
      }
    }
  }

  &__reset-button {
    margin-top: $spacing_2_4;
    margin-inline: auto;
  }

  &__filter-button {
    // margin-top: $spacing_2_4;
    margin-inline: auto;

    position: relative;
    z-index: 1003;

    .dropdown--expanded {
      z-index: 1003;
    }

    @media screen and (min-width: $screen_md) {
      margin-left: auto;
      margin-inline: unset;
    }
  }

  &__filters-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing_1_2;
    margin-top: $spacing_4_8;

    @media screen and (min-width: $screen_md) {
      flex-direction: row-reverse;
    }
  }

  &__active-filters {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing_1_2;
    margin-top: $spacing_1_6;
    justify-content: flex-start;

    @media screen and (min-width: $screen_md) {
      margin-top: unset;
    }
  }

  &__filters-grid {
    margin-top: $spacing_2_4;

    & .date-input__container {
      margin-top: $spacing_2_4;
      margin-inline: auto;

      @media screen and (min-width: $screen_lg) {
        margin-inline: unset;
        margin-top: $spacing_4_8;
      }
    }

    &__dropdown-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: $spacing_2_2;
      z-index: 101;
    }
  }

  &__dropdown {
    margin-inline: auto;
    text-align: left;
    width: fit-content;
  }

  & .table__container {
    padding-top: $spacing_0_8;
  }

  &__dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing_2_4;
    margin-top: $spacing_2_4;
  }
}
