@import "@USupport-components-library/styles";

.campaigns {
  &__box {
    padding: $spacing_1_6;
  }

  &__information {
    place-items: center;
    justify-items: center;

    & p {
      text-align: left;
    }

    & .grid-item:last-of-type {
      margin: 1rem;
    }
  }

  &__search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $spacing_2_4;

    &__buttons-container {
      display: flex;
      justify-content: flex-end;
      margin-top: $spacing_2_0;

      @media screen and (min-width: $screen-md) {
        margin-top: 0;
      }

      & button:first-of-type {
        margin-right: $spacing_1_0;
      }
    }

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__sponsor {
    display: flex;
    align-items: center;

    &__image {
      border-radius: 50%;
      width: 3.2rem;
      height: 3.2rem;
      margin-right: $spacing_1_6;
    }

    &__name.text {
      font-weight: $font_bold;
    }
  }

  &__filter-modal {
    & .input-container {
      margin: 0 auto;
      margin-bottom: $spacing_2_4;
    }

    &__cta {
      margin: 0 auto;
      margin-bottom: $spacing_1_6;
    }
  }
}
