@import "@USupport-components-library/styles";
.faq {
  &__search {
    margin: $spacing_1_6;

    @media screen and (min-width: $screen-md) {
      margin: 0;
      padding-top: $spacing_0_8;
      padding-bottom: $spacing_1_6;
    }
  }

  &__row-text-container {
    text-align: left;
  }
}
