@import "@USupport-components-library/styles";

.articles {
  &__filters {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    gap: $spacing_2_4;
    align-items: flex-end;
    padding-top: $spacing_0_8;
    padding-bottom: $spacing_2_4;
    position: relative;
    z-index: $z_index_modal;
  }

  &__search {
    flex: 1;
    min-width: 12rem;
    max-width: 24rem;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__creator-filter {
    flex-shrink: 0;
    min-width: 18rem;
    position: relative;
    z-index: $z_index_modal;
    text-align: left;
  }
  &__image {
    width: 11.7rem;
    height: 8.6rem;
    border-radius: $border_radius_0_8;
  }

  &__heading {
    color: $color_blue_3d527b;
    font-weight: $font_bold;
    margin-bottom: $spacing_0_4;
  }

  &__pinned-cell-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    &--blocked {
      cursor: not-allowed;

      .checkbox-wrapper {
        pointer-events: none;
      }

      .checkbox-wrapper,
      .checkbox-wrapper input {
        cursor: not-allowed !important;
      }
    }
  }

  &__created-by,
  &__uploader-country {
    max-width: 12rem;
    text-align: center;
  }
}
