@import "@USupport-components-library/styles";

.sponsor-details {
  &__buttons-container {
    display: flex;
    justify-content: flex-end;

    & button:first-of-type {
      margin-right: $spacing_1_0;
    }
  }

  &__grid {
    padding-top: $spacing_2_4;
    justify-items: start;
    align-items: center;

    @media screen and (min-width: $screen-md) {
      justify-items: center;
    }

    & .input-container {
      margin-top: $spacing_2_4;
      margin-bottom: $spacing_3_6;

      @media screen and (min-width: $screen-md) {
        margin-bottom: $spacing_5_0;
      }

      @media screen and (min-width: $screen-lg) {
        margin: 0;
        width: 22rem;
      }

      @media screen and (min-width: 1920px) {
        width: 28rem;
      }
    }
  }

  &__filter-modal {
    & .input-container,
    &__cta,
    &__toggle-container {
      margin: 0 auto;
      margin-bottom: $spacing_1_6;
    }

    &__toggle-container {
      width: 34.6rem;
    }
  }
}
