@import "@USupport-components-library/styles";

.my-qa {
  &__tabs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: $spacing_2_0;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: $spacing_5_0;
    }
    @media screen and (min-width: $screen-lg) {
      padding-left: $spacing_23_0;
    }

    & .dropdown-with-label {
      text-align: left;
      margin-top: $spacing_1_6;
    }
  }

  &__tabs-container {
    display: flex;
    flex-direction: column;
    padding-top: $spacing_1_6;
    overflow-y: auto;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 0;
    }
  }

  &__search-input {
    margin: 0 auto;

    @media screen and (min-width: $screen-md) {
      margin-right: $spacing_2_0;
    }
  }

  &__questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__no-data {
      padding-bottom: $spacing_12_0;
    }
  }

  &__answer {
    margin-bottom: $spacing_1_6;
  }
}
