@import "@USupport-components-library/styles";

.my-qa {
  &__tabs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: $spacing_2_0;

    @media screen and (min-width: $screen-md) {
      justify-content: space-between;
      padding-left: $spacing_5_0;
    }
    @media screen and (min-width: $screen-lg) {
      align-items: flex-start;
      padding-left: $spacing_23_0;
    }

    & .dropdown-with-label {
      text-align: left;
      margin-top: $spacing_1_6;
    }
  }

  &__tabs-container {
    display: flex;
    flex-direction: column;
    padding-top: $spacing_1_6;
    overflow-y: auto;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      margin-left: 0;

      & .btn {
        margin-left: $spacing_1_2;
        padding: $spacing_0_8 $spacing_1_6;

        @media screen and (min-width: $screen-lg) {
          margin-left: $spacing_2_0;
        }
      }
    }

    &__search {
      display: flex;
      flex-direction: column;
      margin-top: $spacing_2_4;

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      @media screen and (min-width: $screen-lg) {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  &__search-input {
    margin-bottom: $spacing_1_6;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 0;
      margin-right: $spacing_2_0;
    }
  }

  &__questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: $spacing_16_0;

    &__no-data {
      padding-block: 100px;
    }
  }

  &__answer {
    margin-bottom: $spacing_1_6;
  }
}
