@import "@USupport-components-library/styles";

.sos-center {
  &__image {
    width: 11.7rem;
    height: 8.6rem;
    border-radius: $border_radius_0_8;
    object-fit: cover;
  }

  & .table__container {
    padding-top: $spacing_2_0;
  }

  &__search {
    padding-top: $spacing_1_6;
    place-self: start;
  }
}
