@import "@USupport-components-library/styles";

.add-sponsor {
  padding-bottom: $spacing_16_0;

  &__grid {
    place-items: center;

    & .profile-picture-preview {
      margin-top: $spacing_3_2;
      margin-bottom: $spacing_3_2;
    }

    & .input-container {
      margin-bottom: $spacing_2_4;
    }

    &__phone {
      margin-top: $spacing_2_4;
    }

    &__create-button {
      margin-top: $spacing_3_6;
    }
  }
}
