@import "@USupport-components-library/styles";

.add-sponsor {
  padding-bottom: $spacing_9_0;

  &__grid {
    place-items: center;

    & .profile-picture-preview {
      margin-top: $spacing_3_2;
      margin-bottom: $spacing_3_2;
    }

    & .input-container {
      margin-bottom: $spacing_2_4;
    }

    &__phone-container {
      display: flex;
      align-items: flex-end;
      margin-top: $spacing_2_4;

      &__phone-input {
        width: 19.5rem;

        @media screen and (min-width: $screen-lg) {
          width: 22rem;
        }
      }

      & .input-container {
        margin-bottom: unset;
      }

      & .dropdown-with-label,
      & .dropdown {
        text-align: left;
        width: 14rem;
        margin-right: $spacing_0_8;
      }
      & .dropdown-content {
        width: 12.5rem;
      }
    }

    &__phone-error {
      margin: 0;
      padding-top: $spacing_0_8;
      width: 34.3rem;
      text-align: center;
    }

    &__create-button {
      margin-top: $spacing_2_4;
    }
  }
}
