/* OrganizationDetails styles */
@import "@USupport-components-library/styles";

.page__organization-details {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem;
    margin-top: 2rem;

    & h4 {
      margin-bottom: 1rem;
    }

    @media screen and (min-width: $screen_md) {
      flex-direction: row;

      & h4 {
        margin-bottom: unset;
      }
    }
  }

  &__modal {
    & .base-modal__body {
      min-height: 30rem;
    }
  }

  &__filters-modal {
    &__content {
      padding-bottom: 16rem;
    }

    & .base-modal__body {
      justify-content: center;
      align-items: center;
    }

    & .input-container,
    & .date-input__container,
    & .dropdown-with-label {
      margin: 0 auto;
      margin-bottom: $spacing_1_6;
      width: 34.3rem;
    }

    &__checkbox-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: $spacing_1_6;
      width: 34.3rem;
    }
  }
}
