@import "@USupport-components-library/styles";

.providers {
  @include full-height-page-navbar;
  padding-top: $spacing_4_8;

  &__grid {
    place-items: center;
    padding-bottom: $spacing_6_0;

    &__heading {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-bottom: $spacing_2_4;
      align-items: center;

      &__button-container {
        margin-left: $spacing_1_6;
      }

      @media screen and (min-width: $screen_md) {
        width: 90%;
        margin-left: 0;
      }
    }
  }
}
