@import "@USupport-components-library/styles";

.page__security-settings {
  @media screen and (max-width: $screen-md) {
    background-image: url(../assets/background-spiral.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    min-width: 0;
    overflow-x: hidden;

    .block,
    .block .container {
      min-width: 0;
      max-width: 100%;
    }
  }
}
