@import "@USupport-components-library/styles";

.filter-modal {
  & .dropdown-with-label {
    margin-bottom: $spacing_1_6;
  }

  &__content-wrapper {
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: $spacing_8_0;
  }

  &__content {
    & .base-modal__footer {
      margin: 0 auto;
    }
  }
}
